<ion-view class="indexUno">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input style="color: white;" type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input style="color: white;" type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input style="color: white;" type="text" placeholder="Email">
      </label>
      <button class="button button-block button-positive">
        Registrar
      </button>
    </div>

  </ion-content>
</ion-view>